html {
  height: 100%;
}

body {
  overflow: hidden;
  background: #bcdee7 no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font: normal 14px/1.618em "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body:before {
  content: "";
  height: 0px;
  padding: 0px;
  border: 130em solid #313440;
  position: absolute;
  left: 50%;
  top: 100%;
  z-index: 2;
  display: block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19)
      forwards,
    borderRadius 0.2s 2.3s linear forwards;
  animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
    borderRadius 0.2s 2.3s linear forwards;
}

h1,
h2 {
  font-weight: 500;
  margin: 0px 0px 5px 0px;
}

h1 {
  font-size: 38px !important;
}

h2 {
  font-size: 25px !important;
}

p {
  font-size: 25px !important;
  margin: 0px;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 162, 255, 0.5); /* 半透明的气泡颜色 */
  animation: float 6s ease-in-out infinite;
  opacity: 0.7;
}

.bubble::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background: radial-gradient(
    circle,
    rgba(0, 162, 255, 0.5) 0%,
    rgba(0, 162, 255, 0) 70%
  );
  border-radius: 50%;
}

@keyframes float {
  0% {
    transform: translateY(100vh) scale(0.8);
  }
  50% {
    transform: translateY(50vh) scale(1.2);
  }
  100% {
    transform: translateY(-10vh) scale(0.8);
  }
}

.bubble1 {
  width: 60px;
  height: 60px;
  top: 10%;
  left: 20%;
  animation-duration: 8s;
  animation-delay: 2s;
}

.bubble2 {
  width: 80px;
  height: 80px;
  top: 40%;
  left: 50%;
  animation-duration: 10s;
  animation-delay: 4s;
}

.bubble3 {
  width: 100px;
  height: 100px;
  top: 70%;
  left: 80%;
  animation-duration: 12s;
  animation-delay: 6s;
}
.bubble4 {
  width: 120px;
  height: 120px;
  top: 40%;
  left: 90%;
  animation-duration: 10s;
  animation-delay: 6s;
}

.bubble5 {
  width: 60px;
  height: 60px;
  top: 10%;
  left: 70%;
  animation-duration: 8s;
  animation-delay: 4s;
}
